* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header style */
header {
  height: 800px;
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
}

.header-content {
  height: 800px;
}

.header-title {
  font-weight: 500;
  font-size: 80px;
  width: 100%;
  height: 280px;
  padding: 220px 0 0 800px;
}

.header-description {
  font-weight: 400px;
  font-size: 16px;
  padding: 220px 50px 0px 700px;
  text-align: right;
}

.primary-color {
  background-color: orange;
  color: whitesmoke;
  margin: 30px 0 0 1100px;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}

/* main style */
.main-item {
  background-image: url("/images/person.png");
  background-repeat: no-repeat;
  height: 723.3px;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  padding: 300px 300px 0px 700px;
}

.main-description {
  font-weight: 400;
  font-size: 16px;
  padding: 20px 300px 0px 700px;
}

.list-item {
  color: #444343;
  padding: 20px 300px 0px 720px;
}

/* plans info */
.plans-info {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  line-gap-override: 25px;
}

.title{
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 120px 0px 45px 0px;
}

.plan .plan-title {
  color: #151414;
  font-weight: 700;
  font-size: 28px;
  
}

.plan .plan-description{
  font-weight: 500;
  font-size: 24px;
}
.plan{
  gap: 100px 100px;
  margin-left: 100px;
  
}

